<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Login request</h1>
    <p>your user name is : <%= @user.username %> </p>

    <p>For login, use this otp :<%= @user.otp%> </p>  

    <p>If you did not make this request then please ignore this email</p>
  </body>
</html>