<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>All details of today orders by customer</h1>
    <p>see orders details in attachments csv file</p>
  </body>
</html>